{:paths ["src" "resources"]
 :deps {}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :exec-fn kaocha.runner/exec-fn}
  :dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.54"}
                     nrepl/nrepl {:mvn/version "1.2.0"}
                     cider/piggieback {:mvn/version "0.4.2"}
                     org.clojure/clojure {:mvn/version "1.11.1"}}
        :extra-paths ["dev"]}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}}}
