{:deps {tech.thomascothran/pavlov {:local/root "./modules/pavlov"}
        tech.thomascothran/pavlov-devtools {:local/root "./modules/pavlov-devtools"}}
 :aliases
 {:test {:extra-paths ["modules/pavlov/test" "modules/pavlov-devtools/test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      org.clojure/math.combinatorics {:mvn/version "0.3.0"}}
         :exec-fn kaocha.runner/exec-fn}
  :dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.54"}
                     nrepl/nrepl {:mvn/version "1.2.0"}
                     info.sunng/ring-jetty9-adapter {:mvn/version "0.39.0"}
                     cider/piggieback {:mvn/version "0.4.2"}
                     org.clojure/clojure {:mvn/version "1.12.1"}
                     thheller/shadow-cljs {:mvn/version "2.28.18"}}
        :extra-paths ["dev"]}}}
