{:paths ["src" "resources"]
 :deps {djblue/portal                  {:mvn/version "0.61.0"}
        metosin/malli                  {:mvn/version "0.19.2"}
        metosin/jsonista               {:mvn/version "0.3.13"}
        io.replikativ/hasch            {:mvn/version "0.3.94"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}}}
